@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap");



*{
    height: 70.55px;
    padding: 0 auto;
    box-sizing: border-box;
    font-size: 1.2rem;
    color: #e11cf8;
    text-decoration: none;

}
* img{
    height: 30px;
}

 div:nth-child(2){
    color: #24ecff;
}
div:nth-child(3){
    color: #93ff2d;
}

.passat{
    color: rgb(252, 252, 252);
    text-decoration: none;
    font-size: 1.2rem;
}
.Discord2{
    color: rgb(250, 249, 249);
    font-size: 1rem;
}

.mail :hover{
    color: #ec00fd;
    height: 100px; 
}

.discord :hover {
    color: #04ffe2;
    font-size: 1.5rem;
}
.Discord3 :hover{
    height: 100px; 
}


.container2{
    display: grid;
    justify-content: end;
    align-content: space-around;
    align-items: end;
    justify-items: end;
    height: 60px;
}

.container3{
    display: grid;
    width: 80px;
    height: 52px;
    align-items: stretch;
    justify-items: stretch;
    align-content: center;
    justify-content: start;
}

body{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: column-reverse;
    height: 100vh;
    background: #111;
}
 .map{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    align-items: flex-end;
}
.map iframe{
    width: 780px;
    height: 250px;
}

.container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    flex-direction: row;
}

.container .ring {
position: relative;
width: 150px;
height: 150px;
margin: -30px;
border: 4px solid transparent;
border-radius: 50%;
border-top: 4px solid #24ecff;
animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


.container .ring::before{
    content: '';
    position: absolute;
    top: 12px;
    right: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #24ecff;
    box-shadow: 0 0 0 5px #24ecff30,
    0 0 0 10px #24ecff22,
    0 0 0 20px #24ecff11,
    0 0 20px #24ecff,
    0 0 50px #24ecff;
}

.container .ring:nth-child(2){
animation: animate2 4s linear infinite;
animation-delay: -1s;
border-top: 4px solid transparent;
border-left: 4px solid #93ff2d;
}
@keyframes animate2{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.container .ring:nth-child(2)::before{
    content: '';
    position: absolute;
    top: initial;
    bottom:  12px;
    left:  12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #93ff2d;
    box-shadow: 0 0 0 5px #93ff2d30,
    0 0 0 10px #93ff2d22,
    0 0 0 20px #93ff2d11,
    0 0 20px #93ff2d,
    0 0 50px #93ff2d;
}


.container  .ring:nth-child(3){
    animation: animate2 4s linear infinite;
    animation-delay: -3s;
    position: absolute;
    top: -66.66px;
    border-top: 4px solid transparent;
    border-left: 4px solid #e11cf8;
}
.container  .ring:nth-child(3)::before{
    content: '';
    position: absolute;
    top: initial;
    bottom:  12px;
    left:  12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #e11cf8;
    box-shadow: 0 0 0 5px #e11cf830,
    0 0 0 10px #e11cf822,
    0 0 0 20px #e11cf811,
    0 0 20px #e11cf8,
    0 0 50px #e11cf8;
}


.contacter{
    color: #fff;
    font-size: 1.5em;
    font-family: "Hind", sans-serif;
    font-weight: 700;
    font-style: normal;
    bottom: -80px;
    letter-spacing: 0.18em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #01e8fda1;
    border-radius: 28px 28px 28px 28px;
}

@media screen and (max-width: 950px){
    .container2{
        width: 740px;
    }
    .contacter{
        font-size: 1.4em;  
    }
    .map iframe{
        width: 740px;
        height: 220px;
    }
}

@media screen and (max-width: 850px){
    .container2{
        width: 720px;
    }
    .contacter{
        font-size: 1.3em;  
    }
    .map iframe{
        width: 700px;
        height: 200px;
    }
}

@media screen and (max-width: 750px){
    .container2{
        width: 650px;
    }
    .contacter{
        font-size: 1.2em;  
    }
    .map iframe{
        width: 650px;
        height: 150px;
    }
}

@media screen and (max-width: 700px){
    .container2{
        width: 600px;
    }
    .map iframe{
        width: 600px;
        height: 150px;
    }
}

@media screen and (max-width: 650px){
    .container2{
        width: 550px;
    }
    .map iframe{
        width: 550px;
        height: 150px;
    }
}

@media screen and (max-width: 600px){
    .container2{
        width: 500px;
    }
    .map iframe{
        width: 500px;
        height: 150px;
    }
}

@media screen and (max-width: 550px){
    .container2{
        width: 450px;
    }
    .map iframe{
        width: 450px;
        height: 150px;
    }
}
@media screen and (max-width: 500px){
    .container2{
        width: 400px;
    }
    .map iframe{
        width: 400px;
        height: 150px;
    }
}

@media screen and (max-width: 450px){
    .contacter{
        font-size: 1.1em; 
        letter-spacing: 0.10em; 
    }
    .container2{
        width: 350px;
    }
    .map iframe{
        width: 350px;
        height: 150px;
    }
}

@media screen and (max-width: 400px){
    .container2{
        width: 320px;
    }
    .contacter{
        font-size: 1em; 
    }
    .map iframe{
        width: 320px;
        height: 150px;
    }
}
@media screen and (max-width: 350px){
    .container2{
        width: 300px;
    }
    .map iframe{
        width: 300px;
        height: 150px;
    }
}
@media screen and (max-width: 335px){
    .container2{
        width: 290px;
    }
    .map iframe{
        width: 290px;
        height: 150px;
    }
}
