@import url('https://fonts.googleapis.com/css2?family=Lakki+Reddy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@font-face {
    font-family: Righteous;
    src: url(./Righteous-Regular.ttf);
}

/* * = l'etoile donne du style à TOUS les elements */
/* *{
    margin: 0;
    padding: 0;
    border: 2px solid red;
} */

/* flexbox= sert à repartir equitablement des elements sur la page */


.flexbox3 ul{
    padding: 0;
    /* display flex= positionne les differentes boites */
    display: flex;
    justify-content: space-around;
    /* background-color: rgba(240, 248, 255, 0.77); */
    border-radius: 15px 15px 15px 15px;
    

}

.flexbox3 li {
    height: 200px;
    width: 200px;
    margin: 10px;
    text-align: center;
    font-size:1.3rem;
    font-family: "Righteous";
    text-transform: capitalize;
    list-style: none;
    background-color: rgba(240, 248, 255, 0.77);
    justify-content: center;
    border-radius: 15px 15px 15px 15px;
    /* centrer un unique element verticalement et horizontalement */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    /* centrer un unique element verticalement et horizontalement */

}
.li1:hover {
  background: rgba(249, 123, 219, 0.716);
  color: white;
}
.li2:hover {
  background: rgba(246, 237, 107, 0.716);
}
.li3:hover {
  background: rgba(244, 53, 53, 0.716);
}
.li4:hover {
  background: rgba(148, 127, 241, 0.716);
}

.grid-container img {
  width: 25%;
  align-items: center;
  margin: 0 auto;
  display: flex;
   /* display flex= positionne les differentes boites */
  display: flex;
  justify-content: space-around;
  background-color: rgba(240, 248, 255, 0.77);
  border-radius: 15px 15px 15px 15px;
  padding : 0;
  
}

.flexbox4 li{
    list-style: none;
    text-transform: capitalize;
    letter-spacing: 2.5px;
    color: rgb(83, 17, 214);
    margin: 0 auto;
    

}

.flexbox{
    color: rgb(83, 17, 214);
    font-size:2.6rem;
    letter-spacing: 4.5px;
    
}

h1{
    text-transform: uppercase;
    letter-spacing: 4.5px;
    text-align: center;
    /* les tailles de police doivent etre en "rem" */
    font-size: 8vw; /* vw = taille d'un texte en fonction de l'ecran de l'utilisateur */
    text-shadow: 5px 5px 2px #000000ad;
    color: rgb(147, 102, 237);
    font-family: "Lakki Reddy", sans-serif;
    font-weight: 400;
    border-radius: 15px 15px 15px 15px;
    background-color: rgba(240, 248, 255, 0.77);
    margin: none;
    
  
}

p{
    text-transform:lowercase;
    letter-spacing: 1.5px;
    text-shadow: 5px 5px 2px #000000b8;
    color: rgb(200, 55, 241);
    /* centrer une boite */
    margin: 0 auto;
}

.grid-container2 img  {
  width: 25%;
  align-items: center;
  margin: 0 auto;
  display: flex;
   /* display flex= positionne les differentes boites */
  display: flex;
  justify-content: space-around;
  background-color: rgba(240, 248, 255, 0.77);
  border-radius: 15px 15px 15px 15px;
  padding : 0;
}

main{
  text-transform: uppercase;
  min-height: 90px;
  width: 90%;
  text-align: center;
  background-color: rgba(240, 248, 255, 0.77);
  font-family: "Pacifico", serif;
  font-weight: 100;
  font-style: italic;
    /* centrer une boite */
    margin: 0 auto ;
    border: 0px solid #f26a0900;
    border-radius: 15px 15px 15px 15px;
    box-shadow: -1px 0px 20px 5px rgba(241, 171, 171, 0);
    padding: 0 auto;
    
}

h2{
    margin: 0;
}

footer{
  color: white;
  text-align: center;
  font-size: 1.5vw;
}

/* @media screen and (max-width: 548px) {
   .flexbox3 ul{
    flex-direction: column;
    align-items: center;
   }
} */


@media screen and (max-width: 910px) {
  .flexbox2{
    font-size: 4rem;
    letter-spacing: 4px;
  }  
}
@media screen and (max-width: 910px) {
    .flexbox3 li{
      font-size: 1.2rem;
      height: 180px;
      width: 180px;
    }  
  }
@media screen and (max-width: 814px) {
    .flexbox2{
      font-size: 3.8rem;
      letter-spacing: 3.8px;
    }  
  }
  @media screen and (max-width: 814px) {
    .flexbox3 li{
      font-size: 1.1rem;
      height: 170px;
      width: 170px;
    }  
  }
  @media screen and (max-width: 778px) {
    .flexbox2{
      font-size: 3.6rem;
      letter-spacing: 3.6px;
      text-shadow: 4px 4px 2px #000000ad;
    }  
  }
  @media screen and (max-width: 778px) {
    .flexbox3 li{
      font-size: 1rem;
      height: 160px;
      width: 160px;
    }  
  }
  @media screen and (max-width: 1200px) {
    .flexbox1 {
      text-shadow: 4px 3px 2px #000000ad;
    }  
  }
  @media screen and (max-width: 1083px) {
    .flexbox1 {
      text-shadow: 5px 3px 2px #000000ad;
    }  
  }
  @media screen and (max-width: 915px) {
    .flexbox1 {
      text-shadow: 3px 3px 2px #000000ad;
    }  
  }
  @media screen and (max-width: 778px) {
    .flexbox1 {
      text-shadow: 3px 3px 2px #000000ad;
    }  
  }
 @media screen and (max-width: 744px) {
    .flexbox2{
      font-size: 3.4rem;
      letter-spacing: 3.4px;
    }  
  }
  @media screen and (max-width: 744px) {
    .flexbox3 li{
      font-size: 0.9rem;
      height: 150px;
      width: 150px;
    }  
  }
 @media screen and (max-width: 710px) {
    .flexbox2{
      font-size: 3.2rem;
      letter-spacing: 3.2px;
    }  
  }
  @media screen and (max-width: 710px) {
    .flexbox3 li{
      font-size: 0.8rem;
      height: 140px;
      width: 140px;
    }  
  }
 @media screen and (max-width: 674px) {
    .flexbox2{
      font-size: 3rem;
      letter-spacing: 3px;
    }  
  }
  @media screen and (max-width: 674px) {
    .flexbox3 li{
      font-size: 0.7rem;
      height: 130px;
      width: 130px;
    }  
  }
 @media screen and (max-width: 640px) {
    .flexbox2{
      font-size: 2.8rem;
      text-shadow: 3px 3px 2px #000000ad;
    }  
  }
  @media screen and (max-width: 675px) {
    .flexbox1{
      text-shadow: 3px 2px 2px #000000ad;
    }  
  }
  @media screen and (max-width: 647px) {
    .flexbox1{
      text-shadow: 3px 1px 2px #000000ad;
    }  
  }
  @media screen and (max-width: 640px) {
    .flexbox3 li{
      font-size: 0.6rem;
      height: 120px;
      width: 120px;
    }  
  }
 @media screen and (max-width: 606px) {
    .flexbox2{
      font-size: 2.6rem;
    }  
  }
  @media screen and (max-width: 606px) {
    .flexbox3 li{
      font-size: 0.6rem;
      height: 110px;
      width: 110px;
    }  
  }
  @media screen and (max-width: 542px) {
    .flexbox2{
      font-size: 2.4rem;
    }  
  }
  @media screen and (max-width: 542px) {
    .flexbox3 li{
      font-size: 0.6rem;
      height: 100px;
      width: 100px;
    }  
  }
    @media screen and (max-width: 508px) {
    .flexbox2{
      font-size: 2.2rem;
    }  
  }
  @media screen and (max-width: 508px) {
    .flexbox3 li{
      font-size: 0.6rem;
      height: 90px;
      width: 90px;
    }  
  }
  @media screen and (max-width: 472px) {
    .flexbox2{
      font-size: 2rem;
    }  
  }
  @media screen and (max-width: 472px) {
    .flexbox3 li{
      font-size: 0.6rem;
      height: 80px;
      width: 80px;
    }  
  }
    @media screen and (max-width: 438px) {
    .flexbox2{
      font-size: 1.7rem;
      text-shadow: 2px 2px 2px #000000ad;
    }  
  }
  @media screen and (max-width: 438px) {
    .flexbox3 li{
      font-size: 0.6rem;
      height: 70px;
      width: 70px;
    }  
  }
  @media screen and (max-width: 403px) {
    .flexbox2{
      font-size: 1.6rem;
    }  
  }
  @media screen and (max-width: 404px) {
    .flexbox1{
      text-shadow: 2px 1px 2px #000000ad;
    }  
  }
  @media screen and (max-width: 403px) {
    .flexbox3 li{
      font-size: 0.6rem;
      height: 70px;
      width: 70px;
    }  
  }
    @media screen and (max-width: 368px) {
    .flexbox2{
      font-size: 1.4rem;
    }  
  }
  @media screen and (max-width: 368px) {
    .flexbox3 li{
      font-size: 0.6rem;
      height: 70px;
      width: 70px;
    }  
  }
@media screen and (max-width: 351px) {
.flexbox2{
  font-size: 1.2rem;
}  
}
@media screen and (max-width: 333px) {
    .flexbox2{
      font-size: 1.1rem;
    }  
    }
    @media screen and (max-width: 333px) {
        .flexbox3 li{
          font-size: 0.5rem;
          height: 70px;
          width: 70px;
        }  
      }
      @media screen and (max-width: 716px) {
        .flexbox{
            font-size: 2.6rem;
            letter-spacing: 4.3px;
        }  
      }
  @media screen and (max-width: 705px) {
    .flexbox{
        font-size: 2.4rem;
        letter-spacing: 4.3px;
    }  
  }
    @media screen and (max-width: 657px) {
    .flexbox{
        font-size: 2.2rem;
        letter-spacing: 4.1px;
    }  
  }
  @media screen and (max-width: 627px) {
    .flexbox4 li{
        letter-spacing: 2px;
        font-size: 1rem;
    }  
  }
  @media screen and (max-width: 608px) {
    .flexbox{
        font-size: 2rem;
        letter-spacing: 3.9px;
    }  
  }
     @media screen and (max-width: 603px) {
    .flexbox4 li{
      letter-spacing: 1.8px;
      font-size: 0.9rem;
    }  
  }
     @media screen and (max-width: 559px) {
    .flexbox{
        font-size: 1.8rem;
        letter-spacing: 3.7px;
    }  
  }
  @media screen and (max-width: 549px) {
    .flexbox4 li{
      letter-spacing: 1.6px;
      font-size: 0.7rem;
    }  
  }
     @media screen and (max-width: 511px) {
    .flexbox{
      font-size: 1.6rem;
    }  
  }
     @media screen and (max-width: 468px) {
    .flexbox{
      font-size: 1.4rem;
    }  
  }
  @media screen and (max-width: 457px) {
    .flexbox4 li{
      letter-spacing: 1.5px;
      font-size: 0.6rem;
    }  
  }
  @media screen and (max-width: 421px) {
    .flexbox{
      font-size: 1.2rem;
    }  
  }
  @media screen and (max-width: 411px) {
    .flexbox4 li{
      letter-spacing: 1.2px;
      font-size: 0.5rem;
    }  
  }
  @media screen and (max-width: 376px) {
    .flexbox{
      font-size: 1rem;
    }  
  }
  @media screen and (max-width: 357px) {
    .flexbox4 li{
      letter-spacing: 1.2px;
      font-size: 0.4rem;
    }  
  }
  @media screen and (max-width: 333px) {
    .flexbox{
      font-size: 0.9rem;
    }  
  }
  @media screen and (max-width: 315px) {
    .flexbox4 li{
      letter-spacing: 1.2px;
      font-size: 0.4rem;
    }  
  }
  @media screen and (max-width: 309px) {
    .flexbox{
      font-size: 0.7rem;
    }  
  }
  @media screen and (max-width: 281px) {
    .flexbox2{
      font-size: 1rem;
    }  
    }
    @media screen and (max-width: 265px) {
      .flexbox{
        font-size: 0.6rem;
      }  
    }
    @media screen and (max-width: 304px) {
      .flexbox4 li{
        letter-spacing: 1.2px;
        font-size: 0.3rem;
      }  
    }
    @media screen and (max-width: 265px) {
      .flexbox2{
        font-size: 0.9rem;
      }  
      }
      @media screen and (max-width: 267px) {
        .flexbox4 li{
          letter-spacing: 1.2px;
          font-size: 0.2rem;
        }  
      }