@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');




.flexbox3 ul{
    padding: 0;
    /* display flex= positionne les differentes boites */
    display: flex;
    justify-content: space-around;
    /* background-color: rgba(240, 248, 255, 0.77); */
    border-radius: 15px;
    margin-bottom: 15em;

}

.flexbox3 li {
    height: 135px;
    width:  135px;
    margin: 10px;
    text-align: center;
    font-size:1.3rem;
    font-family: "Righteous";
    text-transform: capitalize;
    list-style: none;
    background-color: rgba(240, 248, 255, 0.77);
    justify-content: center;
    border-radius: 15px;
    /* centrer un unique element verticalement et horizontalement */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    /* centrer un unique element verticalement et horizontalement */

}
.li1:hover {
  background: rgba(3, 193, 246, 0.871);
}
.index{
  width: 135px;
  height: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.li2:hover {
  background: rgba(248, 127, 5, 0.774);
}
.page02{
  width: 135px;
  height: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.li3:hover {
  background: rgba(87, 246, 8, 0.77);
}
.page03{
  width: 135px;
  height: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.li4:hover {
  background: rgba(246, 19, 234, 0.832);
}
.page04{
  width: 135px;
  height: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}
body{
background: url(./chalk-1150753.jpg) center/cover;
min-height: 100vh;
background-attachment: fixed;
} 
.titre1{
  font-size: 4em;
  text-align: center;
  text-transform: uppercase;
  color: rgb(32 220 171);
  text-shadow: 0px 0px 9px rgb(113 12 12 / 84%);
}

.back1{
   background-color: rgba(12 113 101 / 88%);
  border-radius: 15px;
  border: 2px solid rgb(10 225 134 / 58%);
  box-shadow: 3px 2px 20px 5px rgb(241 171 171 / 51%);
  margin-bottom: 150em;
}

.titre2 {
  font-size: 1.2em;
  text-transform: lowercase;
  margin: 0;
}
.doubleCote1{
  color: #ffe400;
}
.doubleCote2{
  color: #ffe400;
}

.paragraphe1{
  text-align: center;
  font-weight: bold;
  font-style: oblique;
  letter-spacing: 1.7px;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: rgb(241 243 19 / 82%);
  font-size: 1.5em;
} 
.titreParagraphe1 {
  font-size: 2em;
  color: rgb(225 184 111 / 78%);
}
.partie1{
  color: rgb(223 207 134 / 90%);
  font-size: 1.3em;
} 
.partie2{
  color: rgb(238 236 182 / 89%);
  font-size: 1.3em;
}
.partie3{
  color: rgb(255 254 217 / 84%);
  font-size: 1.3em;
}
.partie4{
  color: rgb(236 206 88 / 80%);
  font-size: 1.3em;
}
.partie5{
  color: rgb(223 207 134 / 90%);
  font-size: 1.3em;
}
.partie6{
  color: rgb(238 236 182 / 89%);
  font-size: 1.3em;
}
.partie7{
  color: rgb(255 254 217 / 84%);
  font-size: 1.3em;
}

.titre2Paragraphe2{
  font-size: 1.7em;
  color: rgb(34 226 191);
  text-decoration: underline #b5ffbf;
  text-decoration-style: double;
  text-decoration-thickness: 1px;
}

.GestionComplete{
  font-size: 1.3em;
}
.PreparationComplete{
  font-size: 1.3em;
}
.ReglageComplet{
  font-size: 1.3em;
}

.paragraphe2 h2{
  text-transform: uppercase;
}
.en_Arriere1 {
  font-size: 2em;
  font-weight: 100;
  color: rgba(240, 26, 229, 0.53);
  border:  rgba(241, 94, 182, 0.47);
  display: grid;
  width: 3%;
  height: 27px;
  justify-content: center;
  align-content: stretch;
}
.en_Arriere1:hover {
  color: rgba(242, 246, 5, 0.989);
  border:  rgba(45, 246, 5, 0.429) ;
} 

.paragraphe2{
  color: rgb(176 243 193);
  font-weight: 250;
  font-style: oblique;
  text-align: center;
  margin: 0 auto ;
  background-color: rgb(72 73 122 / 54%);
  border-radius: 15px;
   box-shadow: -1px 0px 10px 5px rgba(254, 251, 251, 0.689);
  padding: 0 auto;
  letter-spacing: 1.5px;
  min-height: 90vh;
}
.parapgraphe3{
  font-size: 1.2em;
}






@media screen and (max-width: 1320px) {
  .en_Arriere1 {
    width: 3.5%;
  } 
}
@media screen and (max-width: 1125px) {
  .en_Arriere1 {
    width: 4%;
  } 
}
@media screen and (max-width: 1000px) {
  .en_Arriere1 {
    width: 4.5%;
  } 
}
@media screen and (max-width: 900px) {
  .en_Arriere1 {
    width: 5%;
  } 
}
@media screen and (max-width: 809px) {
  .en_Arriere1 {
    width: 5.5%;
  } 
}
@media screen and (max-width: 740px) {
  .en_Arriere1 {
    width: 6%;
  } 
}
@media screen and (max-width: 675px) {
  .en_Arriere1 {
    width: 6.5%;
  } 
}
@media screen and (max-width: 605px) {
  .en_Arriere1 {
    width: 7.5%;
  } 
}
@media screen and (max-width: 550px) {
  .en_Arriere1 {
    width: 8.5%;
  } 
}
@media screen and (max-width: 500px) {
  .en_Arriere1 {
    width: 9.5%;
  } 
}
@media screen and (max-width: 445px) {
  .en_Arriere1 {
    width: 10.5%;
  } 
}
@media screen and (max-width: 410px) {
  .en_Arriere1 {
    width: 11.5%;
  } 
}
@media screen and (max-width: 375px) {
  .en_Arriere1 {
    width: 12.5%;
  } 
}
@media screen and (max-width: 345px) {
  .en_Arriere1 {
    width: 13.5%;
  } 
}




@media screen and (max-width: 910px) {
    .flexbox3 li{
      font-size: 1.2rem;
      height: 135px;
      width: 135px;
    }  
  }
  @media screen and (max-width: 814px) {
    .flexbox3 li{
      font-size: 1.1rem;
      height: 130px;
      width: 130px;
    }  
  }
  @media screen and (max-width: 778px) {
    .flexbox3 li{
      font-size: 1rem;
      height: 120px;
      width: 120px;
    }  
  }
  @media screen and (max-width: 744px) {
    .flexbox3 li{
      font-size: 0.9rem;
      height: 110px;
      width: 110px;
    }  
  }
  @media screen and (max-width: 710px) {
    .flexbox3 li{
      font-size: 0.8rem;
      height: 100px;
      width: 100px;
    }  
  }
  @media screen and (max-width: 674px) {
    .flexbox3 li{
      font-size: 0.7rem;
      height: 90px;
      width:  90px;
    }  
  }
  @media screen and (max-width: 640px) {
    .flexbox3 li{
      font-size: 0.7rem;
      height: 80px;
      width: 80px;
    }  
  }
  @media screen and (max-width: 606px) {
    .flexbox3 li{
      font-size: 0.7rem;
      height: 70px;
      width: 70px;
    }  
  }
  @media screen and (max-width: 542px) {
    .flexbox3 li{
      font-size: 0.7rem;
      height: 70px;
      width: 70px;
    }  
  }
  @media screen and (max-width: 508px) {
    .flexbox3 li{
      font-size: 0.7rem;
      height: 70px;
      width: 70px;
    }  
  }
  @media screen and (max-width: 472px) {
    .flexbox3 li{
      font-size: 0.7rem;
      height: 70px;
      width: 70px;
    }  
  }
  @media screen and (max-width: 438px) {
    .flexbox3 li{
      font-size: 0.7rem;
      height: 70px;
      width: 70px;
    }  
  }
  @media screen and (max-width: 403px) {
    .flexbox3 li{
      font-size: 0.7rem;
      height: 65px;
      width: 65px;
    }  
  }
  @media screen and (max-width: 368px) {
    .flexbox3 li{
      font-size: 0.6rem;
      height: 60px;
      width: 60px;
    }  
  }
  @media screen and (max-width: 350px) {
    .flexbox3 li{
      font-size: 0.6rem;
      height: 55px;
      width: 55px;
    }  
  }





  @media screen and (max-width: 6684px){
    .titre2{
      font-size: 1.1em;
    } 
  }
  @media screen and (max-width: 649px) {
    .titre1{
      font-size: 3.5em;
    }  
    .titre2{
      font-size: 1.1em;
    }  
    .titreParagraphe1 {
      font-size: 1.5em;
    }
    .titre2Paragraphe2{
      font-size: 1.5em;
    }
    .GestionComplete{
      font-size: 1em;
    }
    .PreparationComplete{
      font-size: 1em;
    }
    .ReglageComplet{
      font-size: 1em;
    }
    .partie1 {
      font-size: 1em;
    }
    .partie2{
      font-size: 1em;
    }
    .partie3{
      font-size: 1em;
    }
    .partie4 {
      font-size: 1em;
    }
    .partie5{
      font-size: 1em;
    }
    .partie6{
      font-size: 1em;
    }
    .partie7{
      font-size: 1em;
    }
  }




  @media screen and (max-width: 629px) {
    .titre1{
      font-size: 3.4em;
    }  
    .titre2{
      font-size: 1em;
    }  
    .titreParagraphe1 {
      font-size: 1.4em;
    }
    .titre2Paragraphe2{
      font-size: 1.4em;
    }
    .GestionComplete{
      font-size: 0.9em;
    }
    .PreparationComplete{
      font-size: 0.9em;
    }
    .ReglageComplet{
      font-size: 0.9em;
    }
    .partie1 {
      font-size: 0.9em;
    }
    .partie2{
      font-size: 0.9em;
    }
    .partie3{
      font-size: 0.9em;
    }
    .partie4 {
      font-size: 0.9em;
    }
    .partie5{
      font-size: 0.9em;
    }
    .partie6{
      font-size: 0.9em;
    }
    .partie7{
      font-size: 0.9em;
    }
  }




  @media screen and (max-width: 609px) {
    .titre1{
      font-size: 3.3em;
    }  
    .titre2{
      font-size: 1em;
    } 
    .titreParagraphe1 {
      font-size: 1.3em;
    }
    .titre2Paragraphe2{
      font-size: 1.3em;
    }
  }



  @media screen and (max-width: 589px) {
    .titre1{
      font-size: 3.2em;
    }  
    .titre2{
      font-size: 1em;
    }  
    .titreParagraphe1 {
      font-size: 1.2em;
    }
    .titre2Paragraphe2{
      font-size: 1.2em;
    }
  }



  @media screen and (max-width: 569px) {
    .titre1{
      font-size: 2.5em;
    }  
    .titre2{
      font-size: 1em;
    } 
    .titreParagraphe1 {
      font-size: 1.1em;
    }
    .titre2Paragraphe2{
      font-size: 1.1em;
    }
  }



  @media screen and (max-width: 549px) {
    .titre1{
      font-size: 2.4em;
    } 
    .titre2{
      font-size: 1em;
    }  
  }



  @media screen and (max-width: 527px) {
    .titre1{
      font-size: 2.3em;
    }  
    .titre2{
      font-size: 1em;
    } 
    .GestionComplete{
      font-size: 0.8em;
    }
    .PreparationComplete{
      font-size: 0.8em;
    }
    .ReglageComplet{
      font-size: 0.8em;
    }
    .partie1 {
      font-size: 0.8em;
    }
    .partie2{
      font-size: 0.8em;
    }
    .partie3{
      font-size: 0.8em;
    }
    .partie4 {
      font-size: 0.8em;
    }
    .partie5{
      font-size: 0.8em;
    }
    .partie6{
      font-size: 0.8em;
    }
    .partie7{
      font-size: 0.8em;
    }
  }



  @media screen and (max-width: 507px) {
    .titre1{
      font-size: 2.2em;
    }  
    .titre2{
      font-size: 1em;
    } 
      .titreParagraphe1 {
      font-size: 1em;
    }
    .titre2Paragraphe2{
      font-size: 1em;
    }
  }



  @media screen and (max-width: 487px) {
    .titre1{
      font-size: 2.1em;
    } 
    .titre2{
      font-size: 1em;
    }  
    .titreParagraphe1 {
      font-size: 0.9em;
    }
    .titre2Paragraphe2{
      font-size: 0.9em;
    }
  }



  @media screen and (max-width: 465px) {
    .titre1{
      font-size: 2em;
    }  
    .titre2{
      font-size: 1em;
    } 
  }



  @media screen and (max-width: 445px) {
    .titre1{
      font-size: 1.9em;
    }  
    .titre2{
      font-size: 0.9em;
    } 
  }



  @media screen and (max-width: 425px) {
    .titre1{
      font-size: 1.8em;
    } 
    .titre2{
      font-size: 0.8em;
    }  
  }



  @media screen and (max-width: 405px) {
    .titre2{
      font-size: 0.8em;
    }   
  }



  @media screen and (max-width: 395px) {
    .titre2{
      font-size: 0.8em;
    }  
  }
























