@import url('https://fonts.googleapis.com/css2?family=Lakki+Reddy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@font-face {
    font-family: Righteous;
    src: url(./Righteous-Regular.ttf);
}





/* * = l'etoile donne du style à TOUS les elements */
/* *{
    margin: 0;
    padding: 0;
    border: 2px solid red;
} */

/* flexbox= sert à repartir equitablement des elements sur la page */




.flexbox3 ul{
    padding: 0;
    /* display flex= positionne les differentes boites */
    display: flex;
    justify-content: space-around;
    /* background-color: rgba(240, 248, 255, 0.77); */
    border-radius: 15px;
    margin-bottom: 40em;
}


.flexbox3 ul :hover{
  transform: rotate(360deg);
}




    /* styles "presentation/contact/photos/formulaire"  */
.flexbox3 li {
    height: 135px;
    width: 135px;
    margin: 10px;
    text-align: center;
    font-size:1.3rem;
    font-family: "Righteous";
    text-transform: capitalize;
    list-style: none;
    /* background-color: rgba(94 151 135 / 77%); */
    background-color: rgba(41, 70, 62, 0.627);
    justify-content: center;
    border-radius: 15px;
    /* centrer un unique element verticalement et horizontalement */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 2s .2s;
    overflow: hidden;
    /* centrer un unique element verticalement et horizontalement */
}
 /* styles "presentation/contact/photos/formulaire"  */





 /* *= désigne la totalité de la police de la page  */
* {
  text-decoration: none;
}
 /* *= désigne la totalité de la police de la page  */


 


/* couleur et epaisseur des labels "presentation/contact/photos/formulaire"  */
* a{
  /* color: #2f0366c8; */
  color: #00000086;
  font-weight: 550;
}
/* couleur et epaisseur des labels "presentation/contact/photos/formulaire"  */








/* LARGEUR des labels pour qu'ils puissent prendre la même dimension que les inputs lorsqu'on survole ceux-ci  */
.Présentation{
  width: 135px;
  height: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Contact{
  width: 135px;
  height: 135px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.Photos{
  width: 135px;
  height: 135px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.Formulaire{
  width: 135px;
  height: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* LARGEUR des labels pour qu'ils puissent prendre la même dimension que les inputs lorsqu'on survole ceux-ci  */









/* changement de couleur pour les labels lors du survolage de la souris "presentation/contact/photos/Formulaire"*/
.flexbox3 li :hover{
  color: beige;
}
 /* changement de couleur pour les labels lors du survolage de la souris "presentation/contact/photos/Formulaire"*/







/* couleur du hover "presentation"  */
.li1:hover {
  background: rgba(249, 123, 219, 0.716);
}
/* couleur du hover "presentation"  */





 /* couleur du hover "contact"  */
.li2:hover {
  background: rgba(246, 234, 68, 0.716);
}
/* couleur du hover "contact"  */




/* couleur du hover "photos"  */
.li3:hover {
  background: rgba(244, 53, 53, 0.716);
}
/* couleur du hover "photos"  */





/* couleur du hover "Formulaire"  */
.li4:hover {
  background: rgba(95, 62, 241, 0.716);
}
/* couleur du hover "Formulaire"  */




.background{
  border-radius:15px;
  background-color: rgba(41, 70, 62, 0.627);
}
.container span{
  text-transform: uppercase;
  display: block;
}
.container{
 text-align: center;
 position: absolute;
 top: 70%;
 left: 50%;
 width: 98.5%;
 transform: translate(-50%, -50%);
 overflow: hidden;
 /* min-height: 100%; */
 /* background: rgba(41, 70, 62, 0.627); */
 padding: 15% 0;
}


.text1{
 color: white;
 font-size: 50px;
 font-weight: 650;
 letter-spacing: 7px;
 margin-bottom: 20px;
 position: relative;
 animation: text 2.5s 1;
 /* background-color: rgba(41, 70, 62, 0.964); */
 background: black;
 border-radius: 15px;
}
.text2{
 font-size: 25px;
 color: #0befe5;
 font: small-caps bold 24px/1 sans-serif;
 text-decoration-line: underline overline;
 text-decoration-style: double  ;
 text-decoration-color: #e1ff00;
 text-shadow: 3px 3px 2px #000001, 0 0 1em blue, 0 0 0.2em blue;
}

@keyframes text{
 0%{
  color: white;
     margin-bottom: -40px;
 }
 30%{
     letter-spacing: 12px;
     margin-bottom: -40px;
 }
 80%{
     letter-spacing: 7px;
     margin-bottom: -40px; 
 }
 }



.grid-container img {
  width: 70%;
  max-width: 150px;
  align-items: center;
  margin: 0 auto;
  /* background-color: rgba(240, 248, 255, 0.337); */
  border-radius: 15px;
  padding: 55% 0;
}
.grid-container {
   display: grid;
    grid-template-columns: 30% 30%;
    justify-content: center;
    margin-bottom: -2em;
}
  
.grid-container2 img  {
  display: flex;
  width: 90%;
  max-width: 230px;
  align-items: center;
  margin: 0 auto;
  /* background-color: rgba(240, 248, 255, 0.156); */
  border-radius: 15px;
  padding: 55% 0;
}
.grid-container2{
  display: grid;
  grid-template-columns: 27% 27%;
  margin-bottom: 10em;
  justify-items: center;
  align-content: space-around;
  /* background-color: rgba(94 151 135 / 77%); */
  justify-content: center;
  /* background-color: rgba(94 151 135 / 77%); */
}



.tableau-style{
  border-collapse: separate;
  min-width: 400px;
  width: auto;
  margin: auto;
  text-align: center;
}




/* titre de la table des matieres  */
thead th {
  text-transform: uppercase;
  font-size: 1.5rem;
  background-color: rgba(17, 17, 166, 0.284);
  color: #b1f8fe;
  text-align: center;
}
/* titre de la table des matieres  */





/* Table des matieresLabel "cours de syntaxes/reglage serveurs/corrections fichiers/realisation mapping" */
td {
  cursor: pointer;
  background-color: rgba(245, 245, 220, 0.374);
  color: #02079c;
}
/* Table des matieresLabel "cours de syntaxes/reglage serveurs/corrections fichiers/realisation mapping" */




/* Table des matieres  */
th, td {
  padding: 15px 20px;
}
tbody tr, td, th {
  border-radius: 15px ;
}
/* Table des matieres  */

.tbody :hover{
  transform: rotateX(360deg);
  transition: 2s;
}




/* Design de la table des matieres  */
.td1:hover{
 color: rgb(241, 246, 246);
 background: rgba(2, 215, 204, 0.575);
}
.td2:hover{
 color: rgb(241, 246, 246);
 background: rgba(176, 2, 189, 0.7);
  }
.td3:hover{
  color: rgb(241, 246, 246);
  background: rgba(3, 203, 63, 0.7);
    }
.td4:hover{
  color: rgb(241, 246, 246);
  background: rgba(199, 97, 3, 0.7);
      }
  /* Design de la table des matieres  */





footer{
  color: white;
  text-align: center;
  font-size: 1.5vh;
}






        /* RESPONSIVES  */

@media screen and (max-width: 437px) {
  .tableau-style{
min-width: 280px;
  }
}
  


@media screen and (max-width: 878px) {
  .text1{
    font-size: 42px;
    box-shadow: 0px -10px 0px  rgb(4, 0, 0);
  }  
  .text2{
    font-size: 24px;
  } 
}

@media screen and (max-width: 910px) {
    .flexbox3 li{
      font-size: 1.2rem;
      height: 135px;
      width: 135px;
    }  
  }

  @media screen and (max-width: 814px) {
    .flexbox3 li{
      font-size: 1.1rem;
      height: 130px;
      width: 130px;
    }  
  }

  @media screen and (max-width: 778px) {
    .text1{
      font-size: 40px;
    }  
    .text2{
      font-size: 24px;
    } 
  }

  @media screen and (max-width: 778px) {
    .flexbox3 li{
      font-size: 1rem;
      height: 120px;
      width: 120px;
    }  
  }

  /* @media screen and (max-width: 1200px) {
    .flexbox1 {
      text-shadow: 4px 3px 2px #000000ad;
    }  
  } */

  /* @media screen and (max-width: 1083px) {
    .flexbox1 {
      text-shadow: 5px 3px 2px #000000ad;
    }  
  } */

  /* @media screen and (max-width: 915px) {
    .flexbox1 {
      text-shadow: 3px 3px 2px #000000ad;
    }  
  } */
/* 
  @media screen and (max-width: 778px) {
    .flexbox1 {
      text-shadow: 3px 3px 2px #000000ad;
    }  
  } */

  @media screen and (max-width: 744px) {
    .flexbox3 li{                                                     
      font-size: 0.9rem;
      height: 110px;
      width: 110px;
    }  
    @keyframes text{
      0%{
       color: white;
          margin-bottom: -40px;
      }
      30%{
          letter-spacing: 11px;
          margin-bottom: -40px;
      }
      80%{
          letter-spacing: 6px;
          margin-bottom: -40px; 
      }
      }
      .text2{
        text-shadow: 2px 2px 1px #000001, 0 0 0.8em blue, 0 0 0.2em blue;
       }
  }
  @media screen and (max-width: 730px){
    @keyframes text{
      0%{
       color: white;
          margin-bottom: -40px;
      }
      30%{
          letter-spacing: 10.5px;
          margin-bottom: -40px;
      }
      80%{
          letter-spacing: 5px;
          margin-bottom: -40px; 
      }
      }
  }

  @media screen and (max-width: 710px) {
    .flexbox3 li{
      font-size: 0.8rem;
      height: 100px;
      width: 100px;
    }  
    .text2{
      text-shadow: 4px 4px 5px #000001, 0 0 5em blue, 0 0 0.2em blue;
     }
  }

  @media screen and (max-width: 674px) {
    .flexbox3 li{
      font-size: 0.7rem;
      height: 90px;
      width: 90px;
    }  
        @keyframes text{
      0%{
       color: white;
          margin-bottom: -40px;
      }
      30%{
          letter-spacing: 10px;
          margin-bottom: -40px;
      }
      80%{
          letter-spacing: 4px;
          margin-bottom: -40px; 
      }
      }
  }
  

 /* @media screen and (max-width: 640px) {
    .flexbox2{
      text-shadow: 3px 3px 2px #000000ad;
    }  
  } */

  /* @media screen and (max-width: 675px) {
    .flexbox1{
      text-shadow: 3px 2px 2px #000000ad;
    }  
  } */

  /* @media screen and (max-width: 647px) {
    .flexbox1{
      text-shadow: 3px 1px 2px #000000ad;
    }  
  } */

  @media screen and (max-width: 640px) {
    .flexbox3 li{
      font-size: 0.6rem;
      height: 80px;
      width: 80px;
    }  
  }
  @media screen and (max-width: 635px){
    @keyframes text{
      0%{
       color: white;
          margin-bottom: -40px;
      }
      30%{
          letter-spacing: 9px;
          margin-bottom: -40px;
      }
      80%{
          letter-spacing: 4px;
          margin-bottom: -40px; 
      }
      }
  }

  @media screen and (max-width: 606px) {
    .flexbox3 li{
      font-size: 0.6rem;
      height: 70px;
      width: 70px;
    }  
  }

  @media screen and (max-width: 542px) {
    .flexbox3 li{
      font-size: 0.6rem;
      height: 70px;
      width: 70px;
    }  
  }

  @media screen and (max-width: 508px) {
    .flexbox3 li{
      font-size: 0.6rem;
      height: 70px;
      width: 70px;
    }  
  }

  @media screen and (max-width: 472px) {
    .flexbox3 li{
      font-size: 0.6rem;
      height: 70px;
      width: 70px;
    }  
  }
    /* @media screen and (max-width: 438px) {
    .flexbox2{
      text-shadow: 2px 2px 2px #000000ad;
    }  
  } */

  @media screen and (max-width: 438px) {
    .flexbox3 li{
      font-size: 0.6rem;
      height: 70px;
      width: 70px;
    }  
  }

  /* @media screen and (max-width: 404px) {
    .flexbox1{
      text-shadow: 2px 1px 2px #000000ad;
    }  
  } */

  @media screen and (max-width: 403px) {
    .flexbox3 li{
      font-size: 0.6rem;
      height: 65px;
      width: 65px;
    }  
  }

  @media screen and (max-width: 365px) {
    .flexbox3 li{
      font-size: 0.6rem;
      height: 60px;
      width: 60px;
    }  
    .flexbox3 ul{
      justify-content: center;
    }
  }

    @media screen and (max-width: 333px) {
        .flexbox3 li{
          font-size: 0.6rem;
          height: 60px;
          width: 60px;
        }  
      }

      @media screen and (max-width: 716px) {
        .text1{
          font-size: 38px;
        }  
        .text2{
          font-size: 23.5px;
        } 
      }

  @media screen and (max-width: 705px) {
    .text1{
      font-size: 37px;
    }  
    .text2{
      font-size: 23px;
    } 
  }
  @media screen and (max-width: 700px) {
    .text1{
      font-size: 36px;
      box-shadow: 0px -10px 0px  rgb(4, 0, 0);
    }  
  
    .text2{
      font-size: 22px;
    } 
  }

    @media screen and (max-width: 657px) {
      .text1{
        font-size: 34px;
      }  
      .text2{
        font-size: 22.5px;
      }  
  }

  @media screen and (max-width: 627px) {
    .flexbox4 li{
        letter-spacing: 2px;
        font-size: 1rem;
    }  
  }
  @media screen and (max-width: 612px) {
    @keyframes text{
      0%{
       color: white;
          margin-bottom: -40px;
      }
      30%{
          letter-spacing: 9px;
          margin-bottom: -40px;
      }
      80%{
          letter-spacing: 3px;
          margin-bottom: -40px; 
      }
      }
      .text1{
        font-size: 33px;
      }  
  }

  @media screen and (max-width: 608px) {
    .text1{
      font-size: 32px;
    }  
    .text2{
      font-size: 22px;
    }  
  }

     @media screen and (max-width: 603px) {
    .flexbox4 li{
      letter-spacing: 1.8px;
      font-size: 0.9rem;
    }  
  }
  @media screen and (max-width: 580px) {
    .text1{
      font-size: 31px;
    }  
    .text2{
      font-size: 19px;
    }  
  }

     @media screen and (max-width: 559px) {
      .text2{
        font-size: 18px;
      } 
  }

  @media screen and (max-width: 549px) {
    .flexbox4 li{
      letter-spacing: 1.6px;
      font-size: 0.7rem;
    }  
  }
  @media screen and (max-width: 559px) {
    .text1{
      font-size: 25px;
      box-shadow: 0px -13.5px 0px  rgb(4, 0, 0);
      border-radius: 12px;
    }  
}

     @media screen and (max-width: 511px) {
      .text1{
        font-size: 24px;
        box-shadow: 0px -15px 0px  rgb(4, 0, 0);  
      }  
      .text2{
        font-size: 17.5px;
     
      } 
  }

     @media screen and (max-width: 468px) {
      .text1{
        font-size: 23px;
        letter-spacing: 4px;
        box-shadow: 0px -19px 0px  rgb(4, 0, 0);  
        border-radius: 2px;
      } 
      @keyframes text{
        0%{
          letter-spacing: 2px;
         color: white;
            margin-bottom: -40px;
        }
        30%{
            letter-spacing: 5px;
            margin-bottom: -40px;
        }
        80%{
            letter-spacing: 2px;
            margin-bottom: -40px; 
        }
        } 
      .text2{
        font-size: 16px;
      }   
  }

  @media screen and (max-width: 457px) {
    .flexbox4 li{
      letter-spacing: 1.5px;
      font-size: 0.6rem;
    }  
  }

  @media screen and (max-width: 421px) {
    .text1{
      font-size: 22px;
      letter-spacing: 2px;
    }  
    .text2{
      font-size: 15px;
    }  
    @keyframes text{
      0%{
        letter-spacing: 0.2px;
       color: white;
          margin-bottom: -40px;
      }
      30%{
         letter-spacing: 2px;
          margin-bottom: -40px;
      }
      80%{
          letter-spacing: 0.2px;
          margin-bottom: -40px; 
      }
      } 
  }

  @media screen and (max-width: 411px) {
    .flexbox4 li{
      letter-spacing: 1.2px;
      font-size: 0.5rem;
    }  
  }

  @media screen and (max-width: 376px) {
     .text1{
      letter-spacing: 1.5px;
      font-size: 21px;
    }  
    .text2{
      font-size: 13.5px;
      text-decoration-style: double ;
      text-decoration-line: underline;
      text-shadow: 1px 2px 10px #000001, 0px 2px 0em blue, -1px 1px 0em blue;
    }  
    @keyframes text{
      0%{
        letter-spacing: 0.2px;
       color: white;
          margin-bottom: -40px;
      }
      30%{
         letter-spacing: 1.5px;
          margin-bottom: -40px;
      }
      80%{
          letter-spacing: 0.2px;
          margin-bottom: -40px; 
      }
      } 
  }

  @media screen and (max-width: 357px) {
    .flexbox4 li{
      letter-spacing: 1.2px;
      font-size: 0.4rem;
    }  
  }

  @media screen and (max-width: 333px) {
    .text1{
      font-size: 21px;
      letter-spacing: 1.5px;
      border-radius: 1px;
    }  
    .text2{
      font-size: 13px;
      text-decoration-style: double ;
      text-decoration-line: underline;
      text-shadow: 1px 2px 10px #000001, 0px 2px 8em blue, -1px 1px 0em blue;
    }  
    @keyframes text{
      0%{
        letter-spacing: 0.2px;
       color: white;
          margin-bottom: -40px;
      }
      30%{
         letter-spacing: 1.5px;
          margin-bottom: -40px;
      }
      80%{
          letter-spacing: 0.2px;
          margin-bottom: -40px; 
      }
      } 
    }

  @media screen and (max-width: 315px) {
    .flexbox4 li{
      letter-spacing: 1.2px;
      font-size: 0.4rem;
    }  
  }
/* 
  @media screen and (max-width: 309px) {
    .flexbox{
      font-size: 0.7rem;
    }  
  } */
 
   /* @media screen and (max-width: 265px) {
      .flexbox{
        font-size: 0.6rem;
      }  
    } */

   @media screen and (max-width: 304px) {
      .flexbox4 li{
        letter-spacing: 1.2px;
        font-size: 0.3rem;
      }  
    }
  
  @media screen and (max-width: 267px) {
        .flexbox4 li{
          letter-spacing: 1.2px;
          font-size: 0.2rem;
        }  
      }
