@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');




.flexbox3 ul{
    padding: 0;
    /* display flex= positionne les differentes boites */
    display: flex;
    justify-content: space-around;
    /* background-color: rgba(240, 248, 255, 0.77); */
    border-radius: 15px 15px 15px 15px;
    

}

.flexbox3 li {
    height: 200px;
    width: 200px;
    margin: 10px;
    text-align: center;
    font-size:1.3rem;
    font-family: "Righteous";
    text-transform: capitalize;
    list-style: none;
    background-color: rgba(240, 248, 255, 0.77);
    justify-content: center;
    border-radius: 15px 15px 15px 15px;
    /* centrer un unique element verticalement et horizontalement */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    /* centrer un unique element verticalement et horizontalement */

}
.li1:hover {
  background: rgba(3, 193, 246, 0.871);
}
.index{
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.li2:hover {
  background: rgba(248, 127, 5, 0.774);
}
.page02{
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.li3:hover {
  background: rgba(87, 246, 8, 0.77);
}
.page03{
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.li4:hover {
  background: rgba(246, 19, 234, 0.832);
}
.page04{
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}
body{
background: url(./chalk-1150753.jpg) center/cover;
min-height: 100vh;
background-attachment: fixed;
} 
.titre1{
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  color: rgb(32 220 171);
  text-shadow: 0px 0px 9px rgb(113 12 12 / 84%);
}

.back1{
   background-color: rgba(12 113 101 / 88%);
  border-radius: 15px 15px 15px 15px;
  border: 2px solid rgb(10 225 134 / 58%);
  box-shadow: 3px 2px 20px 5px rgb(241 171 171 / 51%);
}

.titre2 {
  font-size: 2rem;
  text-transform: lowercase;
  margin: 0;
}
.doubleCote1{
  color: #ffe400;
}
.doubleCote2{
  color: #ffe400;
}

.paragraphe1{
  text-align: center;
  font-weight: bold;
  font-style: oblique;
  letter-spacing: 1.7px;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: rgb(241 243 19 / 82%);
} 
.titreParagraphe1 {
  font-size: 1.7rem;
  color: rgb(225 184 111 / 78%);
}
.partie1{
  color: rgb(223 207 134 / 90%);
  font-size: 1.4rem;
} 
.partie2{
  color: rgb(238 236 182 / 89%);
  font-size: 1.4rem;
}
.partie3{
  color: rgb(255 254 217 / 84%);
  font-size: 1.4rem;
}
.partie4{
  color: rgb(236 206 88 / 80%);
  font-size: 1.4rem;
}
.partie5{
  color: rgb(223 207 134 / 90%);
  font-size: 1.4rem;
}
.partie6{
  color: rgb(238 236 182 / 89%);
  font-size: 1.4rem;
}
.partie7{
  color: rgb(255 254 217 / 84%);
  font-size: 1.4rem;
}

.titre2Paragraphe2{
  font-size: 1.7rem;
  color: rgb(34 226 191);
  text-decoration: underline #b5ffbf;
  text-decoration-style: double;
  text-decoration-thickness: 1px;
}

.GestionComplete{
  font-size: 1.4rem;
}
.PreparationComplete{
  font-size: 1.4rem;
}
.ReglageComplet{
  font-size: 1.4rem;
}

.paragraphe2 h2{
  text-transform: uppercase;
}
.en_Arriere1 {
  font-size: 2.2rem;
  font-weight: 100;
  color: rgb(199 7 189 / 53%);
  border: 1px solid rgb(241 94 181);
  box-shadow: inset -20px -20px 20px 20px #d1e0eee6;
  border-radius: 5px 0px 5px 0px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
  width: 38px;
  height: 38px;
}

.paragraphe2{
  color: rgb(176 243 193);
  font-weight: 250;
  font-style: oblique;
  text-align: center;
  margin: 0 auto ;
  background-color: rgb(72 73 122 / 54%);
  border-radius: 15px 15px 15px 15px;
   box-shadow: -1px 0px 20px 5px rgba(254, 251, 251, 0.689);
  padding: 0 auto;
  letter-spacing: 1.5px;
  
}









@media screen and (max-width: 910px) {
    .flexbox3 li{
      font-size: 1.2rem;
      height: 180px;
      width: 180px;
    }  
  }
  @media screen and (max-width: 814px) {
    .flexbox3 li{
      font-size: 1.1rem;
      height: 170px;
      width: 170px;
    }  
  }
  @media screen and (max-width: 778px) {
    .flexbox3 li{
      font-size: 1rem;
      height: 160px;
      width: 160px;
    }  
  }
  @media screen and (max-width: 744px) {
    .flexbox3 li{
      font-size: 0.9rem;
      height: 150px;
      width: 150px;
    }  
  }
  @media screen and (max-width: 710px) {
    .flexbox3 li{
      font-size: 0.8rem;
      height: 140px;
      width: 140px;
    }  
  }
  @media screen and (max-width: 674px) {
    .flexbox3 li{
      font-size: 0.7rem;
      height: 130px;
      width: 130px;
    }  
  }
  @media screen and (max-width: 640px) {
    .flexbox3 li{
      font-size: 0.6rem;
      height: 120px;
      width: 120px;
    }  
  }
  @media screen and (max-width: 606px) {
    .flexbox3 li{
      font-size: 0.6rem;
      height: 110px;
      width: 110px;
    }  
  }
  @media screen and (max-width: 542px) {
    .flexbox3 li{
      font-size: 0.6rem;
      height: 100px;
      width: 100px;
    }  
  }
  @media screen and (max-width: 508px) {
    .flexbox3 li{
      font-size: 0.6rem;
      height: 90px;
      width: 90px;
    }  
  }
  @media screen and (max-width: 472px) {
    .flexbox3 li{
      font-size: 0.6rem;
      height: 80px;
      width: 80px;
    }  
  }
  @media screen and (max-width: 438px) {
    .flexbox3 li{
      font-size: 0.6rem;
      height: 70px;
      width: 70px;
    }  
  }
  @media screen and (max-width: 403px) {
    .flexbox3 li{
      font-size: 0.6rem;
      height: 70px;
      width: 70px;
    }  
  }
  @media screen and (max-width: 368px) {
    .flexbox3 li{
      font-size: 0.6rem;
      height: 70px;
      width: 70px;
    }  
  }
  @media screen and (max-width: 333px) {
    .flexbox3 li{
      font-size: 0.5rem;
      height: 70px;
      width: 70px;
    }  
  /* }
  @media screen and (max-width: 625px) {
    .titreParagraphe1{
      font-size: 1.4rem;
    }  
  }
  @media screen and (max-width: 609px) {
    .titreParagraphe1{
      font-size: 1.4rem;
    }  
  }
  @media screen and (max-width: 601px) {
    .titreParagraphe1{
      font-size: 1.3rem;
    }  
  }
  @media screen and (max-width: 570px) {
    .titreParagraphe1{
      font-size: 1.3rem;
    }  
  }
  @media screen and (max-width: 559px) {
    .titreParagraphe1{
      font-size: 1.2rem;
    }  
  }
  @media screen and (max-width: 536px) {
    .titreParagraphe1{
      font-size: 1.2rem;
    }  
  }
  @media screen and (max-width: 526px) {
    .titreParagraphe1{
      font-size: 1.1rem;
    }  
  }
  @media screen and (max-width: 501px) {
    .titreParagraphe1{
      font-size: 1.1rem;
    }  
  }
  @media screen and (max-width: 493px) {
    .titreParagraphe1{
      font-size: 1rem;
    }  
  }
  @media screen and (max-width: 461px) {
    .titreParagraphe1{
      font-size: 0.9rem;
    }  
  }
  @media screen and (max-width: 427px) {
    .titreParagraphe1{
      font-size: 0.8rem;
    }  
  }
  @media screen and (max-width: 394px) {
    .titreParagraphe1{
      font-size: 0.7rem;
    }  
  } */
  @media screen and (max-width: 649px) {
    .titre1{
      font-size: 2.9rem;
    }  
  }
  @media screen and (max-width: 649px) {
    .titre2{
      font-size: 1.9rem;
    }  
  }
  @media screen and (max-width: 629px) {
    .titre1{
      font-size: 2.8rem;
    }  
  }
  @media screen and (max-width: 629px) {
    .titre2{
      font-size: 1.8rem;
    }  
  }
  @media screen and (max-width: 609px) {
    .titre1{
      font-size: 2.7rem;
    }  
  }
  @media screen and (max-width: 609px) {
    .titre2{
      font-size: 1.7rem;
    }  
  }
  @media screen and (max-width: 589px) {
    .titre1{
      font-size: 2.6rem;
    }  
  }
  @media screen and (max-width: 589px) {
    .titre2{
      font-size: 1.6rem;
    }  
  }
  @media screen and (max-width: 569px) {
    .titre1{
      font-size: 2.5rem;
    }  
  }
  @media screen and (max-width: 569px) {
    .titre2{
      font-size: 1.5rem;
    }  
  }
  @media screen and (max-width: 549px) {
    .titre1{
      font-size: 2.4rem;
    }  
  }
  @media screen and (max-width: 549px) {
    .titre2{
      font-size: 1.4rem;
    }  
  }
  @media screen and (max-width: 527px) {
    .titre1{
      font-size: 2.3rem;
    }  
  }
  @media screen and (max-width: 527px) {
    .titre2{
      font-size: 1.3rem;
    }  
  }
  @media screen and (max-width: 507px) {
    .titre1{
      font-size: 2.2rem;
    }  
  }
  @media screen and (max-width: 507px) {
    .titre2{
      font-size: 1.2rem;
    }  
  }
  @media screen and (max-width: 487px) {
    .titre1{
      font-size: 2.1rem;
    }  
  }
  @media screen and (max-width: 487px) {
    .titre2{
      font-size: 1.1rem;
    }  
  }
  @media screen and (max-width: 465px) {
    .titre1{
      font-size: 2rem;
    }  
  }
  @media screen and (max-width: 465px) {
    .titre2{
      font-size: 1rem;
    }  
  }
  @media screen and (max-width: 445px) {
    .titre1{
      font-size: 1.9rem;
    }  
  }
  @media screen and (max-width: 445px) {
    .titre2{
      font-size: 0.9rem;
    }  
  }
  @media screen and (max-width: 425px) {
    .titre1{
      font-size: 1.8rem;
    }  
  }
  @media screen and (max-width: 425px) {
    .titre2{
      font-size: 0.8rem;
    }  
  }
  @media screen and (max-width: 405px) {
    .titre1{
      font-size: 1.7rem;
    }  
  }
  @media screen and (max-width: 405px) {
    .titre2{
      font-size: 0.8rem;
    }  
  }
  @media screen and (max-width: 385px) {
    .titre1{
      font-size: 1.6rem;
    }  
  }
  @media screen and (max-width: 385px) {
    .titre2{
      font-size: 0.8rem;
    }  
  }
  @media screen and (max-width: 363px) {
    .titre1{
      font-size: 1.5rem;
    }  
  }
  @media screen and (max-width: 343px) {
    .titre1{
      font-size: 1.4rem;
    }  
  }
  @media screen and (max-width: 323px) {
    .titre1{
      font-size: 1.3rem;
    }  
  }



}
















