*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  color: rgb(248, 248, 100);
}
* textarea{
  color: rgb(231, 234, 165);
  font-weight: 650;
  background: rgba(148, 181, 193, 0.24);
  resize: none;
  width: 290px;
  border-radius: 5px 5px 5px 5px;
}
::placeholder{
  color: rgba(244, 141, 6, 0.423);
}

body{
  font-display: flex;
  height: 100vh;
  background: #052101;
  background: -moz-linear-gradient(-45deg, #052101 0%, #131514 54%, #1C0427 100%);
  background: -webkit-linear-gradient(-45deg, #052101 0%, #131514 54%, #1C0427 100%);
  background: linear-gradient(135deg, #052101 0%, #131514 54%, #1C0427 100%);
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
}
.container{
  position: relative;
  width: 550px;
  height: 550px;
  background: #3535358d;
  border-radius: 8px;
  overflow: hidden;
}

.container::before{
  content: '';
  position: absolute;
  top: -25%;
  left: -25%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg,transparent, #03fe78, #03fe78 );
  transform-origin: bottom right;
  animation: animate 7s linear infinite;
}
.container::after{
  content: '';
  position: absolute;
  top: -25%;
  left: -25%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg,transparent, #d803fe, #d803fe);
  transform-origin: bottom right;
  animation: animate 7s linear infinite;
  animation-delay: 3.5s;
}
@keyframes animate{
  100%{
    transform: rotate(360deg);
  }
}
.form{
  position: absolute;
  inset: 3px;
  border-radius: 8px;
  background: #24232a;
  z-index: 10;
  padding: 10px 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-content: flex-end;
}

.form h1{
 font-size: 3.2rem;
  letter-spacing: 0.1em;
  color: #03fe78;
}


label{
  color: rgb(247, 225, 198);
}

.inputbox input{
  background: rgba(148, 181, 193, 0.24);
  border-radius: 5px 5px 5px 5px;
  height: 25px;
  width: 200px;
  border: none;
  font-size: 1rem;
}
.inputbox select{
  background: rgba(148, 181, 193, 0.24);
  border-radius: 5px 5px 5px 5px;
  height: 30px;
  width: 290px;
  border: none;
  color: rgb(244, 141, 6, 0.56);
}
.inputbox option{
  color: rgb(2, 19, 19);
  background: rgba(61, 196, 246, 0.112);
  font-weight: 650;
}



.inputbox1 button{
  color: #8103fe;
  font-weight: 650;
  width: 80px;
  background-color:rgba(183, 94, 251, 0.107);
}
.inputbox1 :hover{
  background-color:  #f9940760;
  color: aliceblue;
}

@media screen and (max-width: 569px){
.form {
width: 500px;
justify-content: space-around;
padding: 9px 55px;
margin: 0;
}
}
@media screen and (max-width: 569px){
.container {
width: 505.5px;
}
}

@media screen and (max-width: 519px){
  .form {
  width: 480px;
}
}
@media screen and (max-width: 519px){
  .container {
  width: 485.5px;
}
}

@media screen and (max-width: 500px){
  .form {
  width: 450px;
}
}
@media screen and (max-width: 500px){
  .container {
  width: 455.5px;
}
}

@media screen and (max-width: 470px){
    .form {
    width: 400px;
}
}    
@media screen and (max-width: 470px){
    .container {
      width: 405px;
}
}
@media screen and (max-width: 470px){
    .container::before,.container::after {
      height: 400px;
      transform-origin: bottom center;
}
}

@media screen and (max-width: 415px){
    .form {
      width: 380px;
}
}        
@media screen and (max-width: 415px){
    .container {
      width: 385px;
}
}

@media screen and (max-width: 400px){
    .form {
      width: 360px;
}
}         
@media screen and (max-width: 400px){
    .container {
       width: 366px;
}
}

@media screen and (max-width: 370px){
    .form {
      width: 350px;
}
}           
@media screen and (max-width: 370px){
    .container {
       width: 355px;
}
}
@media screen and (max-width: 370px){
    .container::before,.container::after {
        height: 400px;
        transform-origin: bottom center;
}
}

@media screen and (max-width: 365px){
    .form {
        width: 330px;
}
}            
@media screen and (max-width: 365px){
    .container {
       width: 336px;
}
}
 @media screen and (max-width: 365px){
    .container::before,.container::after {
      height: 400px;
      transform-origin: bottom center;
}
 }
 @media screen and (max-width: 340px){
    .form {
   width: 320px;
}
}               
 @media screen and (max-width: 340px){
  .container {
   width: 325px;
}
}
 @media screen and (max-width: 330px){
  .container {
   align-items: center;
   width: 306.5px;
 }
}                       

 @media screen and (max-width: 330px){
  .form {
    width: 300px;
 }
}                


@media screen and (max-width: 420px){
  .form h1{
    font-size: 2.9rem;
  }
}
@media screen and (max-width: 386px){
  .form h1{
    font-size: 2.8rem;
  }
}

@media screen and (max-width: 370px){
  .form h1{
    font-size: 2.7rem;
  }
}
@media screen and (max-width: 360px){
  .form h1{
    font-size: 2.6rem;
  }
}
@media screen and (max-width: 350px){
  .form h1{
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 330px){
  .form h1{
    font-size: 2.4rem;
  }
}



@media screen and (max-width: 370px){
  .inputbox select, textarea{
    width: 250px;
  }
}
@media screen and (max-width: 330px){
  .inputbox select, textarea{
    width: 240px;
  }
}
@media screen and (max-width: 326px){
  .inputbox select, textarea{
    width: 235px;
  }
}




