@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');




.flexbox3 ul{
    padding: 0;
    /* display flex= positionne les differentes boites */
    display: flex;
    justify-content: space-around;
    /* background-color: rgba(240, 248, 255, 0.77); */
    border-radius: 15px 15px 15px 15px;
    

}

.flexbox3 li {
    height: 200px;
    width: 200px;
    margin: 10px;
    text-align: center;
    font-size:1.3rem;
    font-family: "Righteous";
    text-transform: capitalize;
    list-style: none;
    background-color: rgba(240, 248, 255, 0.77);
    justify-content: center;
    border-radius: 15px 15px 15px 15px;
    /* centrer un unique element verticalement et horizontalement */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    /* centrer un unique element verticalement et horizontalement */

}
.li1:hover {
  background: rgba(3, 193, 246, 0.871);
  color: white;
}
.li2:hover {
  background: rgba(248, 127, 5, 0.774);
}
.li3:hover {
  background: rgba(87, 246, 8, 0.77);
}
.li4:hover {
  background: rgba(246, 19, 234, 0.832);
}

body{
background: url(./chalk-1150753.jpg) center/cover;
min-height: 100vh;
background-attachment: fixed;
} 
.titre1{
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: rgb(151 153 25);
  text-shadow: 0px 0px 9px rgb(113 12 12 / 84%);
}

.back1{
   background-color: rgba(12 113 101 / 88%);
  border-radius: 15px 15px 15px 15px;
  border: 2px solid rgb(10 225 134 / 58%);
  box-shadow: 3px 2px 20px 5px rgb(241 171 171 / 51%);
}

.titre2 {
  font-size: 2rem;
  text-transform: lowercase;
  margin: 0;
}

.paragraphe1{
  text-align: center;
  font-weight: bold;
  font-style: oblique;
  letter-spacing: 1.7px;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 1.1rem;
  color: rgb(241 243 19 / 82%);
} 
.titreParagraphe1 {
  font-size: 1.5rem;
  color: rgb(218 176 122);
}
.partie1{
  color: rgb(223 207 134 / 90%);
} 
.partie2{
  color: rgb(238 236 182 / 89%);
}
.partie3{
  color: rgb(255 254 217 / 84%);
}

.titre2Paragraphe2{
  font-size: 1.5rem;
  color: rgb(226 131 34 / 88%);
}

.paragraphe2 h2{
  text-transform: uppercase;
}
.en_Arriere1 {
  font-size: 1.6rem;
  color: rgb(254 1 240);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
}

.paragraphe2{
  color: rgb(176 243 193);
  font-weight: 250;
  font-style: oblique;
  text-align: center;
  margin: 0 auto ;
  background-color: rgb(72 73 122 / 54%);
  border-radius: 15px 15px 15px 15px;
   box-shadow: -1px 0px 20px 5px rgba(254, 251, 251, 0.689);
  padding: 0 auto;
  letter-spacing: 1.5px;
  
}









@media screen and (max-width: 910px) {
    .flexbox3 li{
      font-size: 1.2rem;
      height: 180px;
      width: 180px;
    }  
  }
  @media screen and (max-width: 814px) {
    .flexbox3 li{
      font-size: 1.1rem;
      height: 170px;
      width: 170px;
    }  
  }
  @media screen and (max-width: 778px) {
    .flexbox3 li{
      font-size: 1rem;
      height: 160px;
      width: 160px;
    }  
  }
  @media screen and (max-width: 744px) {
    .flexbox3 li{
      font-size: 0.9rem;
      height: 150px;
      width: 150px;
    }  
  }
  @media screen and (max-width: 710px) {
    .flexbox3 li{
      font-size: 0.8rem;
      height: 140px;
      width: 140px;
    }  
  }
  @media screen and (max-width: 674px) {
    .flexbox3 li{
      font-size: 0.7rem;
      height: 130px;
      width: 130px;
    }  
  }
  @media screen and (max-width: 640px) {
    .flexbox3 li{
      font-size: 0.6rem;
      height: 120px;
      width: 120px;
    }  
  }
  @media screen and (max-width: 606px) {
    .flexbox3 li{
      font-size: 0.6rem;
      height: 110px;
      width: 110px;
    }  
  }
  @media screen and (max-width: 542px) {
    .flexbox3 li{
      font-size: 0.6rem;
      height: 100px;
      width: 100px;
    }  
  }
  @media screen and (max-width: 508px) {
    .flexbox3 li{
      font-size: 0.6rem;
      height: 90px;
      width: 90px;
    }  
  }
  @media screen and (max-width: 472px) {
    .flexbox3 li{
      font-size: 0.6rem;
      height: 80px;
      width: 80px;
    }  
  }
  @media screen and (max-width: 438px) {
    .flexbox3 li{
      font-size: 0.6rem;
      height: 70px;
      width: 70px;
    }  
  }
  @media screen and (max-width: 403px) {
    .flexbox3 li{
      font-size: 0.6rem;
      height: 70px;
      width: 70px;
    }  
  }
  @media screen and (max-width: 368px) {
    .flexbox3 li{
      font-size: 0.6rem;
      height: 70px;
      width: 70px;
    }  
  }
  @media screen and (max-width: 333px) {
    .flexbox3 li{
      font-size: 0.5rem;
      height: 70px;
      width: 70px;
    }  
  }
  @media screen and (max-width: 601px) {
    .titreParagraphe1{
      font-size: 1.4rem;
    }  
  }
  @media screen and (max-width: 570px) {
    .titreParagraphe1{
      font-size: 1.3rem;
    }  
  }
  @media screen and (max-width: 536px) {
    .titreParagraphe1{
      font-size: 1.2rem;
    }  
  }
  @media screen and (max-width: 501px) {
    .titreParagraphe1{
      font-size: 1.1rem;
    }  
  }
  @media screen and (max-width: 570px) {
    .titre1{
      font-size: 2.4rem;
    }  
  }
  @media screen and (max-width: 520px) {
    .titre1{
      font-size: 2.3rem;
    }  
  }
  @media screen and (max-width: 501px) {
    .titre1{
      font-size: 2.2rem;
    }  
  }
