@import url('https://fonts.googleapis.com/css2?family=Lakki+Reddy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@font-face {
    font-family: Righteous;
    src: url(./Righteous-Regular.ttf);
}

/* * = l'etoile donne du style à TOUS les elements */
/* *{
    margin: 0;
    padding: 0;
} */
.flexbox3{
    color: rgb(111, 67, 165);
    font-size:1.2rem;
    font-family: "Righteous";
    text-align: center;
    list-style: none;
}
.flexbox4 li{
    list-style: none;
    text-transform: capitalize;
    font-size:1.3rem;
    color: rgb(255, 255, 255);
    margin: 0 auto;
}
.flexbox{
    color: rgb(246, 245, 245);
    font-size:2.0rem;
    letter-spacing: 5.5px;
    margin: 0 auto;
}


body{
    background: url(./assets/img/bg.jpg) no-repeat center/cover;
    /* VH = 100% de la taille de l'écran (viewport height) */
    min-height: 100vh;
   
    

}


h1{
    text-transform: uppercase;
    letter-spacing: 5.5px;
    text-align: center;
    /* les tailles de police doivent etre en "rem" */
    font-size: 4.5rem;
    text-shadow: 5px 5px 2px #000000ad;
    color: #bf4d05d8;
    font-family: "Lakki Reddy", sans-serif;
    font-weight: 400;
    height: 200px;
    width: 90%;
    background-color: rgba(245, 245, 220, 0);
    margin: 0 auto;
  
}
p{
    text-transform:lowercase;
    letter-spacing: 2.5px;
    text-shadow: 5px 5px 2px #000000b8;
    color: #943b04d8;
    height: 200px;
    width: 90%;
    background-color: rgba(245, 245, 220, 0);
    /* centrer une boite */
    margin: 0 auto;
}

main{
    text-transform: uppercase;
    height: 180px;
    width: 30%;
    text-align: center;
    background-color: rgba(245, 245, 220, 0.367);
    font-family: "Pacifico", serif;
  font-weight: 400;
  font-style: italic;
    /* centrer une boite */
    margin: 0 auto ;
    border: 2px solid #f26a09a9;
    border-radius: 15px 15px 15px 15px;
    box-shadow: -1px 0px 20px 5px rgba(241, 171, 171, 0.659);
    padding: 55px;
    
}

