*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  color: rgb(248, 248, 3);
}
* textarea{
  color: rgb(231, 234, 165);
  font-weight: 650;
  background: rgba(148, 181, 193, 0.24);
  resize: none;
  width: 290px;
}
::placeholder{
  color: rgba(244, 141, 6, 0.56);
}

body{
  font-display: flex;
  height: 100vh;
  background: #24232a;
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
}
.container{
  position: relative;
  width: 650px;
  height: 650px;
  background: #3535358d;
  border-radius: 8px;
  overflow: hidden;
}

.container::before{
  content: '';
  position: absolute;
  top: -25%;
  left: -25%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg,transparent, #03fe78, #03fe78 );
  transform-origin: bottom right;
  animation: animate 7s linear infinite;
}
.container::after{
  content: '';
  position: absolute;
  top: -25%;
  left: -25%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg,transparent, #d803fe, #d803fe);
  transform-origin: bottom right;
  animation: animate 7s linear infinite;
  animation-delay: 3.5s;
}
@keyframes animate{
  100%{
    transform: rotate(360deg);
  }
}
.form{
  position: absolute;
  inset: 3px;
  border-radius: 8px;
  background: #24232a;
  z-index: 10;
  padding: 10px 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-content: flex-end;
}

.form h1{
  text-align: center;
  letter-spacing: 0.1em;
  color: #03fe78;
}

label{
  color: rgb(247, 225, 198);
}

.inputbox input{
  background: rgba(148, 181, 193, 0.24);
  border-radius: 15px 15px 15px 15px;
  height: 25px;
  width: 250px;
  border: none;
}
.inputbox select{
  background: rgba(148, 181, 193, 0.24);
  border-radius: 15px 15px 15px 15px;
  height: 30px;
  width: 290px;
  border: none;
  color: rgb(5, 181, 19, 0.653);
}
.inputbox option{
  color: rgb(2, 19, 19);
  background: rgba(61, 196, 246, 0.112);
  font-weight: 650;
}

/* ::placeholder {
  color: rgba(5, 181, 19, 0.653);
} */

.inputbox1 button{
  color: #8103fe;
  font-weight: 650;
  width: 80px;
  background-color:rgba(183, 94, 251, 0.107);
}
.inputbox1 :hover{
  background-color:  #f9940760;
  color: aliceblue;
}

@media screen and (max-width: 675px){
.form {
width: 650px;
}
}

@media screen and (max-width: 675px){
.container {
width: 650px;
}
}
@media screen and (max-width: 650px){
  .form {
  width: 600px;
  }
  }
  
  @media screen and (max-width: 650px){
  .container {
  width: 600px;
  }
  }
  @media screen and (max-width: 600px){
    .form {
    width: 550px;
    }
    }
    
    @media screen and (max-width: 600px){
    .container {
    width: 550px;
    }
    }
    @media screen and (max-width: 550px){
      .form {
      width: 500px;
      }
      }
      
      @media screen and (max-width: 550px){
      .container {
      width: 500px;
      }
      }
      @media screen and (max-width: 500px){
        .form {
        width: 450px;
        }
        }
        
        @media screen and (max-width: 500px){
        .container {
        width: 450px;
        }
        }
        @media screen and (max-width: 450px){
          .form {
          width: 400px;
          }
          }
          
          @media screen and (max-width: 450px){
          .container {
          width: 400px;
          }
          }
          @media screen and (max-width: 400px){
            .form {
            width: 380px;
            }
            }
            
            @media screen and (max-width: 400px){
            .container {
            width: 380px;
            }
            }
            @media screen and (max-width: 380px){
              .form {
              width: 320px;
              }
              }
              
              @media screen and (max-width: 380px){
              .container {
              width: 320px;
              }
              }
           
            





